langchain==0.0.144
PyPDF2==3.0.1
streamlit==1.21.0
openai==0.27.0
faiss-cpu==1.7.3
tiktoken==0.3.1
tokenizers==0.13.3
scikit-learn==1.2.2
huggingface-hub==0.14.1
pdf2image==1.16.3
pdfminer.six==20221105
pdfminer==20191125
unstructured==0.10.0
NLTK==3.8.1
python-docx==0.8.11
